name: React App Deploy to Surge
on:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install NodeJS
        uses: actions/setup-node@v2-beta
        with:
          node-version: 12
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install # will run `yarn install` command
      - name: Build React App
        run: yarn build
      - name: Install Surge
        run: npm install --global surge
      - name: Install PropTypes
        run: npm install prop-types
      - name: Install MomentJs
        run: npm install moment
      - name: Deploy to Surge
        run: surge ./build piaic_bootcamp_class2_base_react_app.surge.sh --token ${{ secrets.SURGE_TOKEN }}
